node_modules
resources/files
resources/sidecar
extra/*
!extra/files/
extra/files/*
!extra/files/routex-service.exe
dist
dist-tauri
out
target
.DS_Store
*.log*
*.tsbuildinfo
.tmp-*
.tocodex/
.idea
*.ttf
.ai_memory/
.agent/
.shared/
*.code-workspace
.tmp-edge-profile/
src-tauri/tauri.release.conf.json

.mihomo/
.codex-ui-snapshots/
.codex-tmp/
