node_modules
resources/files
resources/sidecar
extra
dist
dist-tauri
out
target
.DS_Store
*.log*
*.tsbuildinfo
.tmp-*
.tocodex/
.idea
*.ttf
.ai_memory/
.agent/
.shared/
*.code-workspace
.tmp-edge-profile/

.mihomo/
.codex-ui-snapshots/
